

<h1>Matrículas</h1>
<%= paginate(@register) %>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Año</th>
      <th>Estudiante </th>
      <th>Grupo</th>
      <th>Colegio precedencia</th>
      <th>Repitente</th>
      <th>Extracurricular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @register.present? %>
    <% @register.each do |register| %>
      <tr>
        <td><%= register.year %></td>
        <td><%= register.student.nombre %> <%= register.student.nombre1 %> <%= register.student.apellido %> <%= register.student.apellido1 %></td>
        <td><%= register.student.group.tname %></td>
        <td><%= register.colegio_precedencia %></td>
        <td><%= register.repitente %></td>
        <td><%= register.extracurricular %></td>
        <td><%= link_to 'Show', register %></td>
        <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
  <tr><p>No se encontraron registros que contengan el año  <%= params[:search] %>.</p></tr>
  <% end %>
  </tbody>
</table>

<br>

<a href="javascript:history.back()" class="btn btn-primary btn-lg" style="">Atrás</a>
