<p id="notice"><%= notice %></p>

<p>
  <strong>Carnet:</strong>
  <%= @student.carnet %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Nombre1:</strong>
  <%= @student.nombre1 %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.apellido %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @student.apellido1 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @student.direction %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @student.estado %>
</p>

tutor 
<% @student.tutors.each do |e| %>
<%= e.first  %><br>
<% end  %>

<% flag = false  %>
<% stu = @student.registers  %>
<% s = stu.first %>
<% if s.present? %>
  <% if (s.year == Time.now.year.to_s)  %>
    <% flag = true  %>
  <% else %>
    <% flag = false  %>
  <% end %>
<% end %>  
<% if flag == true %>
  Ya está matriculado
<% else %>
  <%= link_to "Matricular",new_register_path(:id_student=>@student.id) %>
<% end %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<a href="javascript:history.back()" class="btn btn-primary btn-lg" style="top:-124px;left:70px;position:relative;">Atrás</a>