<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <strong><%= @tutor.first %> <%= @tutor.second %>
<%= @tutor.apellido %>
<%= @tutor.apellido1 %></strong>
    </div>
    <div class="panel panel-body ">
      <div class="col-md-6">  
        <table class="table table-striped table-bordered">
          <tr>
            <th> <strong>Parentezco</strong></th>
            <th><%= @tutor.tipotutor %></th>
          </tr>
          <tr>
            <th><strong>Email</strong></th>
            <th><%= @tutor.email %></th>
          </tr>
          <tr>
            <th><strong>Dirección</strong></th>
            <th><%= @tutor.direction %></th>
          </tr>
        </table>
      </div>
      <% if @tutor.tel_tutors.any? %>
      <% @tutor.tel_tutors.each do |tel| %>
      <div class="col-md-6">  
        <table class="table table-striped table-bordered">
          <tr>
            <th> <strong>Cel</strong></th>
            <th><%= tel.tipo  %></th>
          </tr>
          <tr>
            <th><strong>Numero</strong></th>
            <th> <%= tel.numero  %></th>
          </tr>
        </table>
      </div>
      <% end %>
      <% else %>
        No tiene Números asociados
      <% end %>
       
    </div>  
  </div>
</div>

<%  %>


<a href="javascript:history.back()" class="btn btn-default btn-md" style="top:-;;position:relative;">Atrás</a>
