<%= form_for(@group) do |f| %>
 

  <div class="field col-md-3">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name,:class=>"form-control ",:autofocus=>"true" %>
  </div>
  <div class="field col-md-3">
    <%= f.label :sección %><br>
    <%= f.text_field :seccion ,:class=>"form-control "%>
  </div>
  <div class="field col-md-3">
    <%= f.label :máximo_de_alumnos %><br>
    <%= f.number_field :max,:class=>"form-control " %>
  </div>
  <div class="field col-md-3">
    <%= f.label :turno %><br>
    <%= f.text_field :turno,:class=>"form-control " %>
  </div>
  <div class="field col-md-12"> <br>
    <%= f.label :observación %><br>
    <%= f.text_area :tipo,:class=>"form-control " %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" ,class: "btn btn-default btn-md",:style=>"margin:10px 5em"%>
  </div>
<% end %>
