<%= form_for(@subject) do |f| %>
  

  <div class="field col-md-12">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name ,:autofocus=>"true",:class=>"form-control"%>
  </div>
  <div class="field hidden">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id, :value => params[:group_id] %>
  </div>
    
<br><br>
  <div class="actions">
    <%= f.submit "Guardar",:class=>"btn-default btn btn-md",:style=>"position:relative;left:50px;"%>
  </div>
<% end %>
