<p id="notice"><%= notice %></p>

<h1>Listing Tel Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Numero</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tel_tutors.each do |tel_tutor| %>
      <tr>
        <td><%= tel_tutor.tipo %></td>
        <td><%= tel_tutor.numero %></td>
        <td><%= tel_tutor.tutor %></td>
        <td><%= link_to 'Show', tel_tutor %></td>
        <td><%= link_to 'Edit', edit_tel_tutor_path(tel_tutor) %></td>
        <td><%= link_to 'Destroy', tel_tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tel tutor', new_tel_tutor_path %>
